<!DOCTYPE html>
<html ng-app="jitteryApp">
	<head>
		<title>Jittery Joe's</title>
	</head>
	<body ng-controller = "ReviewListCtrl">
		<div class="main-wrapper">

			<!--header-->
			<header class="row">
				<img src="images/logo.png"/>
				<h1>Jittery Joe's</h1>
				<div class="slogan">
					Really good coffee.
				</div>
			</header>

			
			<!--Feature-->
			<section class="feature">
				<br />
				<div class="row">
					
					<div class="col-md-6">
						
						<div class="row">
							
							<div class="col-md-6">
								<h2>Featured</h2>
								<h3>The Dutch Trader</h3>
								<h4>Dark Roast</h4>
								<img src="images/ICON_PACKAGE/star_icon_brown.gif" width="50px" height="50px" /><!--remove inline styles later-->
								<img src="images/ICON_PACKAGE/scale_icon_brown.gif" width="50px" height="50px" /><!--remove inline styles later-->
							</div>
							
							<div class="col-md-6">
								<img src="images/ICON_PACKAGE/featured_image.gif" width="200px" height="200px" /><!--remove inline styles later-->
							</div>
						
						</div><!-- end row -->
					
					</div>
					
					<div class="col-md-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis eleifend nunc eget accumsan. Proin faucibus dolor ac nisi ornare tempus. </p>
						<p>Praesent ut malesuada nibh. Praesent venenatis lacus at odio venenatis, in mattis nunc aliquet. Ut sollicitudin turpis at lorem pretium suscipit. Proin eros nunc, ullamcorper pulvinar vestibulum eget, mollis nec velit. Proin tempor tellus ornare est facilisis dignissim. Quisque semper pulvinar nibh in vestibulum.</p>
						<p>Donec placerat mollis metus, in euismod nulla congue non. Mauris consequat nibh eget tristique tempus. Integer non nisl dignissim, pretium est id, lementum ligula. Nam consequat venenatis eros, ut tincidunt metus dignis.</p>
					</div>
				
				</div><!-- end row -->	

			</section>
			<!-- Legend -->
			<div class="row legend-wrapper">
				<div class="col-md-4">
					<h1>Legend:</h1>
				</div>
				
				<div class="col-md-4">
					<div class="row">
						<img src="images/ICON_PACKAGE/star_icon_brown.gif" />
						<h2>best rated</h2>
					</div>
					
					<div class="row">
						<img src="images/ICON_PACKAGE/decaf_icon_brown.gif"/>
						<h2>decaf</h2>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="row">
						<img src="images/ICON_PACKAGE/scale_icon_brown.gif"/>
						<h2>fair trade</h2>
					</div>
					
					<div class="row">
						<img src="images/ICON_PACKAGE/shield_icon_brown.gif"/>
						<h2>limited edition</h2>
					</div>
				</div>
				
			</div>
			
			<!-- Coffee Listing -->
			<div class="row coffee-listing-wrapper">
				<br />
				<label for="coffee-listing-field">Our Menu</label>
				
				<select name="sort-by" id="sort-by" class="sort-by pull-right">
					<option value="Name">Name</option>
					<option value="Price">Price</option>
					<option value="Roast">Roast</option>
				</select>
					
				<div class="row">
					<div class="form-group col-md-6" ng-repeat="coffee in coffees">
						<article>
							<div class="row">
								<h1>{{coffee.name}}</h1>
								<img src="images/ICON_PACKAGE/star_icon_brown.gif" />
								<img src="images/ICON_PACKAGE/star_icon_biege.gif" />
								
								<img src="images/ICON_PACKAGE/decaf_icon_brown.gif"/>
								<img src="images/ICON_PACKAGE/decaf_icon_biege.gif"/>
								
								<img src="images/ICON_PACKAGE/scale_icon_brown.gif"/>
								<img src="images/ICON_PACKAGE/scale_icon_biege.gif"/>
								
								<img src="images/ICON_PACKAGE/shield_icon_brown.gif"/>
								<img src="images/ICON_PACKAGE/shield_icon_biege.gif"/>
								
								<!-- Hide button -->
								<img src="images/ICON_PACKAGE/more_info_icon"/>
							</div>
							
							<div class="row">
								<p>{{coffee.description}}</p>
							</div>
							
						</article>
					</div>
				</div>
				
			</div>


			<!--Review form-->
			<div class"review-form-wrapper row">
				<form name="ratingForm" ng-submit="addNewRating()">
					
					<!--dropdown-->
					<div class="review-item form-group col-md-4">
						<label for="review-item-field">Choose a blend</label>
						<select ng-model="review.item" name="review-item-field" id="reivew-item-field" class="review-item-field form-control">
							<option value="After Dinner">After Dinner</option>
							<option value="Bourque Newswatch">Bourque Newswatch</option>
							<option value="CN Tower of Power">CN Tower of Power</option>
							<option value="Connoisseur Estates">Connoisseur Estates</option>
							<option value="Columbian">Columbian</option>
							<option value="Dutch Trader">Dutch Trader</option>
							<option value="Fordnation Blend">Fordnation Blend</option>
							<option value="French Roast">French Roast</option>
							<option value="Hawaii Kona">Hawaii Kona</option>
							<option value="House Blend">House Blend</option>
							<option value="Italian Roast">Italian Roast</option>
							<option value="Lionel Roastie">Lionel Roastie</option>
							<option value="Mocca-Java">Mocca-Java</option>
							<option value="Reggae Blend">Reggae Blend</option>
							<option value="Ruth Roast">Ruth Roast</option>
							<option value="Toronto Blend">Toronto Blend</option>
							<option value="Tropic of Coffee">Tropic of Coffee</option>
							<option value="World Tour Blend">World Tour Blend</option>
						</select>
					</div>

					<!--radio buttons-->
					<div class="review-rating form-group col-md-8">
						<label>Blend rating</label>
						<br />
						<label ng-repeat="num in [1,2,3,4,5]">
							<input ng-model="review.rating" type="radio" id="rating-{{num}}" name="review-rating-field" value="{{num}}">{{num}}  
						</label>
					</div>

					<!--comment box-->
					<div class="review-comment form-group col-md-12">
						<label for="review-comment-field">Comment</label>
						<textarea ng-model="review.comment"rows="3" class="form-control" id="review-comment-field" name="review-comment-field"></textarea>
					</div>

					<!--submit button-->
					<div class="submit form-group col-md-12">
						<button type="submit" class="btn btn-default pull-right">Send</button>
					</div>
				</form>
			</div>	






			<!--List Reviews-->
			<div class="row results-wrapper">
				<div class="col-md-6 review" ng-repeat="review in reviews">
					<h4 class = "review-item">{{review.item}}</h4>
					-
					<div class="review-rating">{{review.rating}}/5</div>
					<div class="review-comment">{{review.comment}}</div>
					<div class="review-date pull-right">{{ (review.node_created * 1000) | date: 'MMM d-h:mma'}}</div>
				</div>
			</div>




			<!--Footer-->
			<footer class="row">
				

				<!--logo-->
				<div class ="col-md-6">
					<div class="logo">
						<img src="images/logo.png"/>
						<div class="slogan">
							Really good coffee.
						</div>
					</div>
				</div>



				<!--Newsletter form-->
				<div class ="col-md-6">
					<form class="signup-form form-horizontal" name="signupForm" ng-submit="addNewSignup()" ng-hide="signupSent">
						<label for="signupForm">Subscribe to newsletter:</label>
						<div class="user-name form-group">
							<label class="col-md-2 control-label" for="user-name-field" name="user-name-field">Name
							</label>
							<div class="col-md-10">
								<input class="form-control" type="text" id="user-name-field" name="user-name-field" ng-model="user.name"/>
							</div>
						</div>
						<div class="user-email form-group">
							<label class="col-md-2 control-label" for="user-email-field" name="user-email-field">Email
							</label>
							<div class="col-md-10">
								<input class="form-control" type="text" id="user-email-field" name="user-email-field" ng-model="user.email"/>
							</div>
						</div>
						<div class="submit form-group">
							<div class="col-md-12">
								<button type="submit" class="btn btn-default pull-right">Send
								</button>
							</div>
						</div>
					</form>

					<!--Thank you message.-->
					<div class="signup-sent" ng-show="signupSent">
						<h5>Thanks for signing up!</h5>
					</div>	
				</div>
			</footer>

		
		</div>

		

		<!-- Load things -->

		<!-- Angular CDN-->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>

		<!--Bootstrap CDN -->
		<link rel = "stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />

		<!--Google fonts -->
		<link href = "http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300" rel="stylesheet" type ="text/css"/>

		<!--Custom JS-->
		<script src="js/app.js"></script>

		<!-- Custom sytlesheet -->
		<link rel="stylesheet" href="style.css" />


	</body>
</html>